.charWraper{
    background:#fff;
    border: 1px solid transparent;
    border-left-color:#717171;
}

.chart-col{
    .charWraper{
      border-radius:2px;
      margin-left:10px;
      margin-bottom: 10px;
      background-color: #34383f;
    }
  }
  .chart-col + .chart-col{
    .charWraper{
      margin-right:10px;
      margin-bottom: 10px;
      background-color: #34383f;
    }
}