div#nprogress {
    .bar {
        background: orangered;
        height: 4px; 
    }
    .spinner {
       .spinner-icon {
          border-top-color: orangered;
          border-left-color: orangered;
        }    
    }
}