.el-tabs{
      margin-top: 10px;
      .el-tabs__header{
        border-color:#58647b;
        height:36px;
        box-sizing:border-box;

        .el-tabs__nav-scroll{
          background:transparent;

            .el-tabs__nav{
              border:none;
              padding-left: 10px;

              .el-tabs__item{
                padding: 0 8px;
                height:36px;
                line-height:36px;
                border:none;
                color: #afbcc4;

                &.is-active{
                  background:$tableBgColor;
                  color:#fff;
                  font-weight:400;
                  border: 1px  solid #58647b;
                  border-bottom: transparent;
                  box-sizing: border-box;
                }
                &:hover{
                  color:#ff;
                }
              }
          }
         
        }
      }
      .chart-tab{
        padding: 0 10px 10px;
        background: $tableBgColor;
        padding-bottom: 10px;
        .el-scrollbar{
          height: 100%;
          background: #fff;
          .el-scrollbar__wrap{
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 20px;}
        }
      }
    }

.tab-wraper{
  flex: 1;
  flex-basis: auto;
  height: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .el-tabs{
    margin-top: 0;
    flex: 1;
    flex-basis: auto;
    height: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .el-tabs__content{
      flex: 1;
      flex-basis: auto;
      height: 0;
      display: flex;
      flex-direction: column;
      //padding-bottom: 20px;
    }
    .el-tab-pane{
      flex-basis: auto;
      flex: 1;
      height: 0;
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }
  }
}

.block-style.el-tabs {
  margin-top: 0;

  .el-tabs__header {
    border: 0;
    margin: 0;

    .el-tabs__nav-scroll .el-tabs__nav {
      padding-left: 0;

      .el-tabs__item.is-active {
        border: 0;
        background: #282b30;
      }
    }
  }
}

.block-style.el-tabs.count {
  .el-tabs__header {
    background: #282b30;

    .el-tabs__nav-scroll .el-tabs__nav .el-tabs__item.is-active {
      background: #2f3239;
    }
  }
}