$orangeColor = #FD831A
$greenColor = #159D94
$greyColor = #F3F4F8
$pearlBlueColor = #55AAE4
$leftFullColor = #2a2c32
/* 首页顶部  高 ，logo距离左边尺寸 */
$topBarBg = #2f3239
$topLogoBar = 52px

$topLogoBarLeft = 16px;
$topIconColor = #fff;
$fontSizeNormal = 14px;
$data_kpiH = calc(100vh - 52px)


/* 地图工具条设置 */
$MapActionBarWraperHeight = 600px;
$MapActionBarBgHeight = 42px;
$MapActionBarBg = #2f3239
$MapActionBarOpacity = 0.94
$MapActionBarTextColor = $topIconColor
$MapActionBarTextActiveColor = #ff912e
$MapActionBarIconSize = 18px;
$MapActionBarLeftBg = #3b3e45;

/**/
$leftBarIconFontSize = 22px;
$leftBarIconColor = #afbcc4;
$leftBarBgColor = #2f3239
$leftBarWidth = 50px
$leftBarWidthLarge = 80px
$leftBarHeightLarge = 84px
$leftBarHeight = 72px
$leftBarActiveColor = #354256
$leftBarActiveIconColor = #eef9ff
$leftBarActiveFontColor = #afbcc4

// 字体图标样式
.iconfont {
  font-size: $MapActionBarIconSize;
}

//左侧部分
$tableBgColor = $leftBarBgColor
$tableFontColor = #fff
$paginationHeight = 57px
$paginationInputColor = #2b303c
$paginationInputBorderColor = #4a5365
$paginationFontColor = #fff
$paginationActiveColor = #58647b

//表格部分
$myTableBgColor = #f5f8ff
$myTableBgStripColor = #e6e9f0 
$tableBorderColor = #464b55
$myTableFontColor = #2f3239
$myTableBorderColor = #d3d5db
$tableActiveColor = #717b8f

//表格上方的form部分
$pageFormBgColor = #2f3239
$formInputColor = #3b3e45
$formInputBorderColor = #58647b
$formFontColor = #fff

//iput颜色
$radiusBgColor = #354256
$radiusBorderColor = #58647b

//巡检监控
$minitorBgColor = #3b3e45;
$minitorActiveColor = #0091da
$minitorBorderColor = #2f3239
$minitorStateHeight = 47px

//弹框部分
$dialogTitleBgColor = #404656
$dialogTableHeight = calc(50vh + 117px)

//维修养护
$titleColor = #00aaff;