@import '~@common/styles/common/variables.styl';

a {
  text-decoration: none;

  &:focus {
    outline: none;
  }
}

.icon {
  font-family: 'iconfont' !important;
  font-size: 30px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Home_container {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .GISDiv .top-bar {
    box-shadow: none;
  }

  .top-bar {
    width: 100%;
    background: $topBarBg;
    height: $topLogoBar;
    line-height: $topLogoBar;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

    .tag-wraper {
      font-size: $fontSizeNormal;

      .menu-tag-wraper {
        flex: 1;
        flex-basis: auto;
        flex-wrap: wrap;
        justify-content: flex-end;
        overflow: hidden;
      }

      .iconfont {
        font-size: $fontSizeNormal + 2;
      }

      .header_tag {
        padding-left: 10px;
        color: $topIconColor;
        cursor: pointer;
        align-items: center;
        text-decoration: none;
        text-align: center;
        overflow: hidden;
        min-width: 100px;
        height: $topLogoBar;
        background: $topBarBg;
        position: relative;
        display: block;

        & > span {
          padding-right: 10px;
        }

        .top-icon {
          font-size: 18px;
          padding-right: 10px;
        }

        &:hover, &.active {
          background: url('~@assets/toolIcon/UI/topbtnBg.png');
          background-size: contain;

          &:after {
            background-color: transparent;
          }
        }

        &:after {
          content: '';
          display: inline-block;
          width: 1px;
          height: 30px;
          background-color: #2a2c32;
          box-shadow: 1px 0px 0px 0px rgba(71, 75, 86, 0.52);
          vertical-align: middle;
          position: absolute;
          right: 1px;
          top: 0;
          transform: translateY(50%);
        }
      }

      .topUserWraper {
        cursor: pointer;
        line-height: $topLogoBar;
        height: $topLogoBar;
        color: #fff;
        background-color: $topBarBg;
        // overflow: hidden;

        .el-dropdown-link {
          height: $topLogoBar;
          padding: 0 20px;
          display: inline-block;
          white-space:nowrap

          &:focus {
            outline: none;
          }
        }

        .el-icon-caret-bottom.el-icon--right {
          transition: all 0.3s ease;
        }

        &:hover, &:active {
          background: url('~@assets/toolIcon/UI/topbtnBg.png');
          background-size: contain;
        }

        .el-icon-caret-bottom.el-icon--right.active {
          transform: rotate(-180deg);
          transition: all 0.3s ease;
        }
      }
    }
  }

  .mian-wrapper.isCollapse {
    .sidebar-body {
      width: $leftBarWidthLarge;
      transition: width 0.5s ease;

      .el-menu-control {
        width: $leftBarWidthLarge;
        transition: all 0.5s ease;

        span {
          transform: rotateZ(180deg);
        }
      }

      .sidemenu {
        .title {
          opacity: 1;
          visibility: visible;
          height: auto;
          width: auto;
          border-radius: none;
          position: relative;
          padding: 0;
          background: transparent;
          left: 0;
          color: #afbcc4;
        }

        .el-menu-item, .el-submenu__title {
          height: $leftBarHeightLarge;
          margin: 0 0;

          &:hover {
            background-color: $leftBarActiveColor;

            .title {
              color: #fff;
              position: relative;
              padding: 0;
              background: transparent;
              left: 0;
              border-radius: none;
              transition: none;
            }

            i {
              color: #fff;
            }
          }
        }

        .active-route {
          .el-menu-item, .el-submenu__title {
            &:before {
              color: #fff;
              top: 0;
              height: $leftBarHeightLarge;
            }
          }
        }
      }
    }

    .main-body {
      padding-left: $leftBarWidthLarge;
      transition: padding-left 0.5s ease;
    }
  }

  // 管网GIS左侧表格头部padding
  .GISClass.mian-wrapper .main-body.horizontal .leftContain {
    margin-top: $MapActionBarBgHeight;
  }

  .mian-wrapper .main-body.flexible.fullScreen .side_action_bar_placeholder {
    display: block;
  }

  .mian-wrapper {
    .main-body.flexible .leftContain.InsMinitor.flexible {
      width: 0;
      min-width: auto;
    }

    .main-body.flexible .InsMinitor.leftContain {
      width: auto;
      min-width: auto;
    }
  }

  .mian-wrapper .main-body.flexible {
    .leftContain {
      width: 0;
      min-width: 0;
    }

    .el-main {
      width: 100%;
      height: 100%;
    }
  }

  .mian-wrapper {
    flex: 1;
    flex-basis: auto;
    color: $leftBarIconColor;
    overflow: hidden;

    .sidebar-body, .main-body {
      position: absolute;
      top: 0;
      left: 0;
    }

    .sidebar-body {
      background: $leftBarBgColor;
      float: left;
      width: $leftBarWidth;
      height: 100%;
      box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
      transition: width 0.5s ease;
      z-index: 3;
      display: flex;
      flex-direction: column;

      .el-scrollbar {
        background: $leftBarBgColor;
        flex: 1;
        flex-basis: auto;
      }

      .el-scrollbar__view {
        background: $leftBarBgColor;
        // margin-bottom: 34px;
      }

      .el-scrollbar__wrap {
        overflow-x: hidden;
      }

      .tooltipWraper {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .iconfont {
        font-size: $leftBarIconFontSize;
      }

      .el-menu-control {
        padding: 0;
        // position: absolute;
        width: $leftBarWidth;
        bottom: 0;
        display: block;
        border-radius: 0;
        background: $MapActionBarLeftBg;
        border: none;
        color: #fff;
        padding: none;
        transition: all 0.5s ease;
        z-index: 9;

        span {
          height: $MapActionBarBgHeight;
          line-height: $MapActionBarBgHeight;
          display: inline-block;
          transform: rotateZ(0);
        }
      }

      .sidemenu {
        background-color: $leftBarBgColor;
        border: none;
        z-index: 8;
        height: 100%;

        .title {
          opacity: 0;
          width: 0;
          height: 30px;
          line-height: 30px;
          overflow: hidden;
          position: absolute;
          left: $leftBarWidth -4;
          top: 0;
          bottom: 0;
          margin: auto;
          white-space: pre-wrap;
          line-height: 1;
          white-space:nowrap
        }

        &.el-menu--collapse {
          width: auto;
        }

        .el-menu-item, .el-submenu__title, .el-submenu__title i, .el-menu-item i {
          color: #fff;
        }

        .el-submenu__icon-arrow {
          display: none;
        }

        .el-submenu__title i, .el-menu-item i {
          color: $leftBarIconColor;
        }

        .el-menu-item, .el-submenu__title {
          padding: 10px 0 !important;
          margin: 16px 0;
          height: $leftBarHeight - 10;
          line-height: 30px;
          text-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          .el-tooltip:focus {
            outline: none;
          }

          &:before {
            content: '';
            display: inline-block;
            width: 4px;
            height: 0;
            background-color: #0091da;
            position: absolute;
            left: 0;
            top: 10px;
          }

          &:hover {
            opacity: 1;
            background-color: $leftBarActiveColor;
          }

          .el-tooltip {
            padding: 0 13px !important;
          }

          .el-submenu__icon-arrow {
            right: 0;
          }
        }

        .el-menu-item:focus, .el-submenu__title:focus {
          background-color: transparent;
        }

        .active-route {
          .el-menu-item, .el-submenu__title {
            .title {
              color: #fff;
            }

            i {
              color: $leftBarActiveIconColor;
            }

            background-color: $leftBarActiveColor;

            &:before {
              height: 40px;
              transition: height 1s ease;
            }

            &:hover {
              background-color: $leftBarActiveColor;
            }
          }
        }

        .el-submenu {
          .el-menu {
            background-color: transparent;
          }
        }
      }
    }

    .main-body {
      width: 100%;
      padding-left: $leftBarWidth;
      transition: padding-left 0.5s ease;
      box-sizing: border-box;
      position: absolute;
      background: #ecf0f5;
      height: 100%;

      .el-main {
        width: 50%;
        height: 100%;
      }

      .leftContain {
        background: $tableBgColor;
        max-width: 800px;
        min-width: 450px;
        width: 50%;

        &.horizontal {
          flex-basis: 0px;
          flex-grow: 0;
          overflow: visible;

          .leftSideWraper {
            height: 100%;
            display: flex;
            flex: 0 0 0;
          }
        }
      }

      &.fullScreen {
        .el-container {
          flex-direction: column;
        }

        .side_action_bar_placeholder {
          display: none;
        }

        .el-main {
          width: 100%;
          height: 0;
        }

        .leftContain {
          width: 100%;
          max-width: inherit;
          background: $leftFullColor;

          .leftSideWraper {
            height: 100%;
          }
        }
      }
    }
  }
}

.leftSideWraper {
  height: 100%;
}

// iframe展示样式
.Home_container.iframe {
  .top-bar, .mian-wrapper .sidebar-body, .side_action_bar_placeholder {
    display: none;
  }

  .mian-wrapper .main-body {
    padding-left: 0px;
  }

  .GISClass.mian-wrapper .main-body.horizontal .leftContain {
    margin-top: 0px;
  }
}

/* 顶部用户下拉选项 */
.topUserMenu {
  .el-dropdown-menu__item {
    .iconfont {
      font-size: $fontSizeNormal + 2;
      padding-right: 12px;
    }
  }
}

.homeDialog {
  .el-dialog .el-dialog__header {
    background: #252d35;
    border-bottom: 5px solid #009688;
    color: #fff;
  }

  .el-dialog__title {
    color: #fff;
  }

  .el-row {
    padding: 5px 0;
  }
}

// 侧边栏的hover弹框
.el-menu--vertical {
  .el-menu--popup {
    padding: 0;
    min-width: 120px;
    text-align: center;
  }

  .el-menu {
    & > a:last-child {
      .el-menu-item:before {
        display: none;
      }
    }

    .el-submenu, .el-menu-item {
      color: #afbcc4;
      height: 60px;
      line-height: 60px;
      font-size: 16px;
      background: #23252a;

      .el-submenu__title {
        background: #23252a;
        color: #afbcc4;

        &:before {
          content: '';
          display: block;
          position: absolute;
          bottom: 2px;
          left: 0;
          right: 0;
          margin: 0 auto;
          width: 95%;
          height: 1px;
          background-color: #000000;
          box-shadow: 0px 1px 0px 0px rgba(49, 66, 74, 0.69);
        }
      }

      .el-submenu__icon-arrow {
        top: 53%;
        right: 8px;
      }

      &:hover {
        color: #00a9ff;
      }

      &:before {
        content: '';
        display: block;
        position: absolute;
        bottom: 2px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 95%;
        height: 1px;
        background-color: #000000;
        box-shadow: 0px 1px 0px 0px rgba(49, 66, 74, 0.69);
      }
    }

    .active-route {
      .el-menu-item {
        color: #00a9ff;
      }
    }
  }
}

// 更多菜单
.moreMenu {
  .el-dropdown-link {
    vertical-align: middle;
    position: relative;
  }

  &:after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 30px;
    background-color: #2a2c32;
    box-shadow: 1px 0px 0px 0px rgba(71, 75, 86, 0.52);
    vertical-align: middle;
    position: absolute;
    right: 1px;
    top: 0;
    transform: translateY(50%);
  }
}

.more-menu-tag-wraper {
  background: $topBarBg;
  font-size: $fontSizeNormal;
  border-color: $topBarBg;
  margin-top: 0px;
  margin-top: 0 !important;
  padding: 0;
  border-radius: 2px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
  top: $topLogoBar !important;

  .el-dropdown-menu__item {
    padding: 0;
  }

  .iconfont {
    font-size: $fontSizeNormal + 2;
  }

  .header_tag {
    padding-left: 10px;
    color: $topIconColor;
    cursor: pointer;
    align-items: center;
    text-decoration: none;
    text-align: center;
    overflow: hidden;
    height: 100%;
    display: block;

    & > span {
      padding-right: 10px;
    }

    .top-icon {
      font-size: 18px;
      padding-right: 10px;
    }

    &:hover, &.active {
      background: url('~@assets/toolIcon/UI/topbtnBg.png');
      background-size: contain;

      &:after {
        background-color: transparent;
      }
    }
  }

  .popper__arrow {
    display: none;
  }
}

@media screen and (max-width: 1460px) {
  .textShowWraper {
    // display: none;
  }
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;

  .app-logo {
    height: 20px;
    color: #fff;
    margin-left: $topLogoBarLeft;
    vertical-align: middle;
  }

  .logo-text {
    word-break: keep-all;
    font-family: '阿里普惠体';
    color: #0085c7;
    font-size: 20px;
    font-weight: bolder;
    vertical-align: bottom;
    letter-spacing: 1px;
  }
}
