
@import '~@common/styles/common/variables.styl'
@import "~@common/styles/fix-slide-expand.styl";
//引入加载条样式
@import "~@common/styles/common/permission.styl"
//左侧表格css样式
@import "~@common/styles/common/table.styl"
//chart样式
@import '~@common/styles/common/chart.styl'
//btn的样式
@import '~@common/styles/common/btn.styl'
//dialog的样式
@import '~@common/styles/common/dialog.styl'
//step的样式
@import '~@common/styles/common/step.styl'
//tab的样式
@import '~@common/styles/common/tab.styl'
//form的样式
@import "~@common/styles/common/form.styl"
//tree的样式
@import "~@common/styles/common/tree.styl"
//olMap的样式
@import "~@common/styles/common/olMap.styl"

//登陆样式
@import '~@common/styles/Login.styl'    

//根据页面名称对应的css样式
@import "~@common/styles/Home.styl"
@import "~@common/styles/GIS/DataCount.styl";
@import "~@common/styles/GIS/MapActionBar.styl"
@import "~@common/styles/GIS/PipeQuery.styl"
@import "~@common/styles/GIS/SeniorSearch.styl"
@import "~@common/styles/GIS/hengduanmian.styl"
@import "~@common/styles/GIS/PipeKPI.styl"


@import '~@common/styles/InspectionGIS/InsMinitor.styl'
@import '~@common/styles/InspectionGIS/ins-chart.styl'
@import '~@common/styles/InspectionGIS/InsOverView.styl'
@import '~@common/styles/InspectionGIS/event-trend.styl'

@import '~@common/styles/MaintainGIS/MaintainGIS.styl'
@import '~@common/styles/MaintainGIS/Initiate.styl'


@import '~@common/styles/systemSetting/modular.styl'
.blue-text{
    color:#0091da;
}