.Login_container {
  background: url('~@assets/toolIcon/UI/LoginBg.png') #2f3239;
  height: 100vh;
  text-align: center;

  .logo {
    height: 4.5vh;
    display: inline-block;
    text-align: center;
    margin: 8% auto 6%;
  }

  .login-form-wrapper {
    // max-width: 400px;
    // min-width: 265px;
    width: 388px;
    // width: 24%;
    background: rgba(255, 255, 255, 0.21);
    margin: 0 auto;
    padding: 20px;
    border-radius: 2px;

    .el-form-item.is-success .left-form-icon {
      color: #67c23a;
    }

    .el-form-item.is-error .left-form-icon {
      color: #f56c6c;
    }

    .el-input.is-active ~ .left-form-icon {
      color: #f56c6c;
    }

    .el-input-number, .el-input__inner {
      height: 40px;
      line-height: 40px;
      padding-left: 40px;
      font-size: 16px;
    }

    .loginForm {
      border-radius: 2px;
      padding: 34px;
      background: #fff;
      box-sizing: border-box;

      .left-form-icon {
        width: 40px;
        height: 40px;
        line-height: 40px;
        position: absolute;
        left: 0;
        color: #879199;
      }

      .Login-submit-wrapper {
        margin-bottom: 0;
        margin-top: 50px;

        .Login-submit {
          font-size: 20px;
          width: 100%;
          border-radius: 2px;
          background-color: #0d85de;
          color: #ffffff;
          text-shadow: 0px 1px 0px 0px #0a74c2;
        }
      }
    }

    .title {
      height: 7vh;
      line-height: 7vh;
      text-align: left;
      padding-left: 4vh;
      font-weight: 800;
      font-size: 20px;
      background: #fff;
      color: #0d85de;
      border: 1px solid #d3d8db;
    }

    .password-form {
      padding: 2vh 4vh 3vh;
      background: #fff;

      .el-input-number, .el-input__inner {
        height: 40px;
        line-height: 40px;
        padding-left: 10px;
        font-size: 16px;
      }

      .input-title {
        text-align: left;
        padding-bottom: 4px;
      }
    }
  }

  @media screen and (min-width: 1260px) {
    .login-form-wrapper {
      width: 388px;
      // background-color:lightblue;
    }
  }

  @media screen and (max-width: 1460px) {
    .login-form-wrapper {
      width: 20%;
      min-width: 360px;
      padding: 2%;
      // background-color:lightblue;
    }

    .el-form-item {
      margin-bottom: 1vh;
    }

    .login-form-wrapper .loginForm {
      border-radius: 2px;
      padding: 9%;
    }

    .el-form-item__content, .login-form-wrapper .el-input-number, .login-form-wrapper .el-input__inner, .login-form-wrapper .loginForm .left-form-icon {
      height: 5vh;
      line-height: 5vh;
      font-size: 0.7rem;

      .iconfont {
        font-size: 0.8rem;
      }
    }

    .login-form-wrapper .loginForm .Login-submit-wrapper {
      margin-top: 5vh;
    }

    .login-form-wrapper .loginForm .Login-submit-wrapper .Login-submit {
      font-size: 0.8rem;
      padding: 1.3vh 0;
    }
  }
}
//修改密码
.ChangePassword {
  .el-form-item__content {
    margin-bottom: 4px;
  }

  .el-form-item__error {
    padding-top: 0;
  }
}