// 返回首页按钮样式,
.homeDiv {
  position: absolute;
  top: 46px;
  left: 20px;
  z-index: 50;
  width: 32px;
  height: 32px;
  background-color: #fff;
  border-radius: 6px;
  text-align: center;
  border: 1px solid #000;

  .icon-shouye {
    color: #444;
    font-size: 20px;
    line-height: 32px;
    text-decoration: none;
  }

  // 去除点击后的虚线边框
  a:focus {
    outline-style: none;
    -moz-outline-style: none;
  }

  &:hover {
    background: #eee;

    .iconfont {
      color: #03b1a7;
    }
  }
}

.side_action_bar_placeholder {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  line-height: $MapActionBarBgHeight;
  height: $MapActionBarBgHeight;
  color: #444;
  z-index: 2;
  background-color: rgba(47, 50, 57, 0.9);

  // 地图顶部描述字体样式
  .Text-Wraper {
    padding-left: 10px;
    color: $MapActionBarTextColor;
    letter-spacing: 0.7px;

    .orange {
      color: $MapActionBarTextActiveColor;
    }

    & > span {
      padding: 0 10px;

      &:after {
        content: '';
        display: inline-block;
        width: 1px;
        height: 21px;
        opacity: 0.9;
        background-color: #2f3239;
        box-shadow: 1px 0px 0px 0px #5b6479;
        vertical-align: middle;
      }
    }

    & span:last-child {
      padding-right: 10px;
    }
  }

  .Map_Action_Bar_Search {
    padding-left: $leftBarWidth;
    transition: all 0.5s ease;

    // 统计文本
    .textShowWraper {
      word-break: keep-all;
    }
  }

  .row {
    align-items: center;
  }
}

.isCollapse .side_action_bar_placeholder .Map_Action_Bar_Search {
  padding-left: $leftBarWidthLarge;
}

// 顶部查询样式
.Map_Action_Bar_Search {
  width: 100%;
  justify-content: space-between;
  align-item: center;
  font-size: $fontSizeNormal;
  opacity: $MapActionBarOpacity;
  line-height: 42px;
  height: 42px;

  .search-factor {
    input {
      color: #fff;
      width: 60px;
      padding: 0 26px 0 4px;
      height: 27px;
      line-height: 28px;
      background-color: #5a5f6b;
      border: solid 1px #5a5f6b;
      border-radius: 2px 0 0 2px;
    }

    &:focus, &.is-active {
      outline: none;
      border-color: #5a5f6b;
    }

    .el-input__suffix {
      .el-icon-arrow-up:before {
        content: '';
        height: 0px;
        width: 0px;
        display: inline-block;
        border-bottom: 6px solid #fff;
        border-left: 5px transparent solid;
        border-right: 5px transparent solid;
        vertical-align: middle;
        transform: scale(0.9);
      }

      right: -1px;
    }

    .el-input__icon {
      line-height: normal;
    }
  }

  .el-select .el-input__inner:focus {
    outline: none;
    border-color: #5a5f6b;
  }

  .input-Wraper {
    width: 160px;

    input {
      color: #fff;
      height: 27px;
      background-color: #333742;
      border: solid 0.5px #5a5f6b;
      border-radius: 0;
    }

    .el-input-number {
      height: auto;
    }

    &.between {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      input {
        flex: 0 0 50%;
        padding-left: 10px;
        padding-right: 10px;
        text-align: left;
      }

      .el-input-number__decrease, .el-input-number__increase {
        width: 20px;
        background: transparent;
        height: 12px;
        line-height: 12px;
        color: #fff;
        border: none;

        &:hover {
          color: #409eff;
        }
      }
    }
  }

  .search {
    margin-right: 20px;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    color: #fff;
    border: solid 0.5px #5a5f6b;
    border-left: 0;

    .iconfont {
      font-size: 18px;
      line-height: 26px;
    }
  }
}

#bookmarks {
  position: absolute;
  top: 41px;
  right: 0;
  background: #fff;
  padding: 10px 0 0;
  z-index: 2;

  .esriBookmarkItem {
    padding: 6px 10px;
  }
}

// 图层控制弹窗样式
.Map_Action_Bar_Layer_Win {
  height: auto;
  // border: 1px solid #3b3d44;
  background: rgba(255, 255, 255, 0.94);
  position: absolute;
  top: 41px;
  right: 0;
  box-shadow: -1.5px 1.3px 6px 0px rgba(26, 26, 26, 0.26);
  font-size: $fontSizeNormal;

  .el-input__icon {
    line-height: 28px;
  }

  .Win_Title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: $MapActionBarBgHeight;
    line-height: $MapActionBarBgHeight;
    font-size: 14px;
    color: #199cdd;
    padding: 0 4px;

    .text {
      &:before {
        margin-right: 10px;
        content: '';
        display: inline-block;
        width: 4px;
        height: 10px;
        background-color: #0080c1;
        border: 3px solid #98cce5;
        vertical-align: sub;
      }
    }

    .icon {
      height: $MapActionBarBgHeight;
      cursor: pointer;
      font-size: $fontSizeNormal;
      text-align: center;
      width: 30px;
      z-index: 9;
      color: #6a8694;
    }
  }

  // 图层弹窗样式
  .TuCeng_List {
    height: $MapActionBarWraperHeight - $MapActionBarBgHeight;
    color: #707070;
    position: relative;

    .el-scrollbar {
      height: 100%;

      .el-scrollbar__wrap {
        padding-bottom: 20px;

        .el-scrollbar__view {
          overflow: visible;
          width: 100%;
          border: 1px saddlebrown;
        }
      }
    }

    // 图层弹窗大图片列表
    .Win_Img_List {
      display: flex;
      flex-wrap: wrap;
      width: 280px;
    }

    .List_Item {
      border-top: solid #e6e6e3 1px;
      padding: 10px 0px 10px 10px;
      box-sizing: border-box;

      &.active {
        .Win_Img_List_Item {
          border-color: #13a3eb;

          &:after {
            content: '';
            display: inline-block;
            width: 20px;
            height: 20px;
            border-radius: 4px 0px 4px 0px;
            position: absolute;
            bottom: 0;
            right: 0;
            background: url('~@assets/toolIcon/UI/treeCheck.png') center no-repeat;
            background-size: 70% 70%;
            background-color: #13a3eb;
          }

          span {
            opacity: 1;
            background-color: #0091da;
          }
        }

        .Win_Text_List_Item {
          color: #13a3eb;
        }
      }

      .Win_Img_List_Item {
        width: 80px;
        border: solid 1px #c4c9cc;
        position: relative;
        text-align: center;
        border-radius: 4px;
        line-height: 0;
        box-sizing: border-box;

        img {
          width: 100%;
        }

        span {
          width: 70px;
          height: 25px;
          line-height: 25px;
          text-align: center;
          background-color: rgba(47, 50, 57, 0.5);
          color: #fff;
          bottom: 0;
          right: 0;
          cursor: pointer;
        }
      }

      .Win_Text_List_Item {
        padding: 4px 0;
        font-size: $fontSizeNormal;
        line-height: 24px;
        color: #333;
        overflow: hidden;
        color: #808080;
        text-align: center;

        .el-slider {
          width: 90%;

          .el-slider__runway {
            margin: 0 0;
            border-radius: 8px;
            background-color: transparent;
            border: 1px solid #00c3aa;
          }

          .el-slider__button {
            width: 10px;
            height: 10px;
            border-color: #02b0d2;
            background: #02b0d2;
          }

          .el-slider__bar {
            border-radius: 3px;
            background-image: linear-gradient(-83deg, #01aed5 0%, #00c3aa 100%);
          }
        }

        .tuceng_title {
          float: left;
        }

        .Win_Range_Value {
          float: right;
          color: #0091da;
        }
      }
    }

    // 图层弹窗多选列表
    .She_Shi_Layer {
      // border-top: solid #e6e6e3 1px;
      // padding-right: 10px;
      .el-collapse-item__header {
        height: 34px;
        line-height: 34px;
        background-color: #f2f4f5;
        box-shadow: 0px 1px 0px 0px rgba(26, 26, 26, 0.2);
        padding: 0 10px;

        .title-wrapper {
          display: flex;
          justify-content: space-between;
          width: 100%;

          .title {
            &:before {
              content: '';
              display: inline-block;
              width: 0;
              height: 0;
              border-top: 4px solid #999;
              border-bottom: 0 solid transparent;
              border-left: 4px solid transparent;
              border-right: 4px solid transparent;
              margin-right: 6px;
              transition: transform 0.3s ease;
              transform: rotate(-90deg);
              vertical-align: middle;
            }
          }

          .action {
            letter-spacing: 0.7px;
            color: #939799;
            font-size: 14px;
          }
        }

        .el-collapse-item__arrow {
          display: none;
        }

        &.is-active {
          .title {
            &:before {
              transform: rotate(0);
            }
          }
        }
      }

      .el-collapse-item__wrap {
        padding: 0 10px;

        .el-collapse-item__content {
          padding-bottom: 0;
        }
      }

      .list-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: solid 1px #edeff0;
        line-height: 32px;
        height: 32px;

        img {
          width: 18px;
          height: 18px;
          display: inline-block;
        }

        .pipe-color {
          display: inline-block;
          width: 10px;
          height: 3px;
        }

        .el-checkbox {
          padding: 0 6px;
          color: #333;

          .el-checkbox__label {
            display: none;
          }
        }
      }

      .el-tree {
        background: transparent;
        color: #333;
      }

      .expanded.el-tree-node__expand-icon.el-icon-caret-right {
        color: #0091da;
      }

      .el-tree-node__content:hover {
        background: transparent;
        color: #000;
      }

      .el-tree-node:focus>.el-tree-node__content {
        background: transparent;
        color: #000;
      }

      .el-tree-node, .el-tree-node__content {
        width: 100%;
        overflow: visible;
      }

      .el-tree-node__content {
        flex-wrap: nowrap;
      }

      .el-tree-node > .el-tree-node__children {
        overflow: visible;
      }
    }
  }

  // 图例弹窗样式
  .Tuli_List {
    height: $MapActionBarWraperHeight - $MapActionBarBgHeight;
    margin: 0;
    text-align: center;
    color: #333333;
    position: relative;

    .el-scrollbar {
      height: 100%;

      .el-scrollbar__wrap {
        padding-bottom: 20px;
      }
    }

    .Tuli-Pipe_Item {
      margin-left: 10px;
      margin-right: 10px;
      border-bottom: 1px solid #e8e8e6;
      height: 50px;

      .pipe-name {
        text-align: right;
        height: 27px;
        white-space: nowrap;
      }

      .pipe-icon {
        display: inline-block;
        vertical-align: top;
        height: 6px;
        // background-color: #663399;
        // border: 1px  solid #181919;
        background-size: contain;
        width: 100%;
        margin: auto;
        box-sizing: border-box;
        margin-top: 8px;
        background-size: 400%;
        background-position: center;
      }
    }

    .Tuli_List_Item {
      list-style: none;
      vertical-align: middle;
      padding-left: 10px;
      padding-right: 10px;
      height: 100%;
      line-height: 100%;

      span {
        overflow: hidden;
        display: inline-block;
        width: 60%;
        line-height: 35px;
        height: 35px;
        box-sizing: border-box;

        img {
          width: 20px;
          height: 20px;
          vertical-align: middle;
        }

        &:first-child {
          width: 40%;
        }
      }
    }
  }

  .print_List {
    height: auto;
    position: relative;

    .el-scrollbar {
      height: 100%;

      .el-scrollbar__wrap {
        overflow-x: hidden;
      }
    }
  }

  .bookMark_List {
    height: $MapActionBarWraperHeight - $MapActionBarBgHeight;
    margin: 0;
    width: 320px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #333333;
    position: relative;
    background: #fff;
    padding-top: 10px;
    border-top: 1px solid rgba(225, 231, 235, 0.9);

    .table-btn-control {
      padding: 10px 0;
      line-height: 15px;

      .my-tableout {
        letter-spacing: 0.6px;
        color: #939799;
        padding: 0 10px;
        border-right: 1px solid #c4c8cc;
        cursor: pointer;
      }
    }

    .inputWrapper {
      padding: 0 10px;

      .el-input, .el-input__inner {
        box-sizing: content-box;
        height: 34px;
        line-height: 34px;
      }

      .el-input-group__append {
        width: 34px;
        padding: 0;
        background: #0085ec;
        color: #fff;
      }
    }

    .el-pagination {
      height: 28px;
      line-height: 28px;
      padding: 10px 0;

      .el-pager {
        li {
          color: #626566;
          border-radius: 2px;
          border: solid 1px #dce2e5;
          margin-right: 4px;
          min-width: 22px;

          &.active {
            color: #428ff7;
            border: solid 1px #428ff7;
          }
        }
      }

      .btn-next {
        min-width: 22px;
        color: #626566;
        padding: 0;
        border: solid 1px #dce2e5;
      }

      .btn-prev {
        padding: 0;
        color: #626566;
        margin-right: 4px;
        min-width: 22px;
        border: solid 1px #dce2e5;
      }

      .el-pagination__editor.el-input {
        width: 22px;
      }

      .el-pagination__jump {
        margin-left: 8px;
      }
    }

    .el-scrollbar {
      height: 100%;
      flex: 1;
      flex-basis: auto;

      // border-bottom: solid 1px rgba(225, 231, 235, 0.9);

      // border-top: solid 1px rgba(225, 231, 235, 0.9);
      &:before, &:after {
        display: block;
        content: '';
        margin: 0 10px;
        height: 1px;
        background: rgba(225, 231, 235, 0.9);
      }

      &:after {
        position: relative;
        top: -1px;
      }

      .el-scrollbar__wrap {
        // padding-bottom: 20px;
        border-bottom: dashed 1px rgba(225, 231, 235, 0.9);

        li {
          color: #444444;
          text-align: left;
          height: 46px;
          line-height: 46px;
          cursor: pointer;
          padding: 0 10px;

          span {
            display: inline-block;
            border-bottom: dashed 1px rgba(225, 231, 235, 0.9);
            width: 100%;
          }

          &.active {
            color: #428ff7;
            background: #f5f8fa;
            // background: gray;
            // border: solid 1px #428ff7;
          }
        }
      }
    }
  }
}

// 右侧地图操作图标样式
.MapActionBar-icon-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .el-scrollbar__bar.is-vertical {
    display: none;
  }

  .el-scrollbar__wrap {
    overflow-y: hidden;
    margin-right: 0!important;

    .el-scrollbar__view {
      width: min-content;
    }
  }
}

.Map_Action_Bar_container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: end;
  line-height: 42px;

  .action_item {
    height: 34px;
    width: 40px;
    line-height: 34px;
    color: $MapActionBarTextColor;
    opacity: 0.7;
    text-align: center;
    cursor: pointer;

    &:hover, &.active {
      opacity: 1;
      color: #49bffb;
    }

    .el-button {
      border-radius: 0;
    }

    .iconfont {
      font-size: $MapActionBarIconSize;
      line-height: 34px;
    }
  }
}

.print_List {
  .el-scrollbar__wrap {
    margin-bottom: 0 !important;
  }
}

.print-wrapper {
  height: 100%;
  background: #fff;
  width: 400px;
  width: 300px;
  padding: 10px 20px 0 0;
}

// 选择单位的popover样式
.Map_Action_Bar_popover {
  min-width: 72px;
  box-shadow: 0px 1px 0px 0px rgba(47, 50, 57, 0.14);
  border-radius: 2px;
  border: solid 1px #e1ecf5;
  padding: 0;
  font-size: 14px;

  .el-button {
    &:last-child {
      &:after {
        display: none;
      }
    }

    text-align: left;
    width: 100%;
    padding: 0;
    display: block;
    height: 30px;
    border: none;
    margin-left: 0;
    padding-left: 10px;
    position: relative;

    &:after {
      content: '';
      display: inline-block;
      width: 100%;
      border: 1px dashed #e1ecf5;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    &:focus, &:hover {
      background-color: #fff;
    }

    &.active {
      background-color: #e1ecf5;
      color: #0091da;
    }
  }
}

#mapNode_zoom_slider {
  display: none;
}
