.data_kpi {
  width: 100%;
  padding: 1% 0 0 1%;
  box-sizing: border-box;
  height: $data_kpiH;
  
  .el-scrollbar{
    height :100%
  }
  .el-scrollbar__wrap{
    overflow-x: auto;
    padding-top: 3px;
    padding-left: 3px;
  }
  @media (min-width: 1160px) {
    .col-md-12 {
      width: 50%;
      float: left;
    }

    .right-md-12 {
      margin-left: 0;
    }
  }
  .el-col {
    height: initial;
  }
}