.initiate_table {
    padding: 0 10px;		

    .el-input{
      width:99%	
    }
    .el-form .el-row{
      padding:8px 0;
    }


    .header_title_ {
      padding: 6px 0;
      font-size: 14px;
      color: $titleColor;
      &:before{
        content:'';
        display:inline-block;
        width: 4px;
	      height: 16px;
	      background-image: linear-gradient(0deg, 
	      	#3790f1 0%, 
	      	#33c2fd 100%);
	      border-radius: 2px;
        vertical-align: middle;
        margin-right: 6px;
      }
    }
  }