.event-trend{
  .month-select-wraper .division {
    color: #fff;
    line-height: 30px;
  }
  .el-input__prefix, .el-input__suffix {
    display: none;
  }
  .el-input__inner{
      width: 70px;
      padding-right: 0;
      box-sizing: border-box;
      padding-left: 10px;
    }

  .el-date-editor{
    width: 96%;
    input{
      width: 96%;
      box-sizing: border-box;
    }
  }
}