.ins-chart{
  padding-top:20px;
  position: relative
  .title{
    position: absolute;
    top: 23px;
    z-index: 1;
    &:before{
      content: '';
      display: inline-block;
      vertical-align: middle;
      margin: 0 10px;
      width: 4px;
  	  height: 16px;
  	  background-image: linear-gradient(0deg, 
  	  	#3790f1 0%, 
  	  	#33c2fd 100%);
  	  border-radius: 2px;
    }
  
  }
}