.isCollapse .InsOverView .inspectiongis_fixed {
  left: 50px + $leftBarWidth;
  transition: left 0.5s ease;
}

.InsOverView {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0 !important;

  .el-button {
    background: #367bc7;
    border: none;
    color: white;
  }

  .inspectiongis_fixed {
    z-index: 1;
    position: relative;
    top: 10px;
    left: 70px;
    transition: left 0.5s ease;

    .overview-card {
      width: 370px;
      background: #fff;
      padding: 0 10px 10px;
      box-sizing: border-box;
      border: solid 2px #838798;

      .page-title {
        line-height: 40px;
        height: 40px;
        color: #0091da;
        font-size: 16px;

        &:before {
          content: '';
          display: inline-block;
          width: 73px;
          height: 8px;
          background-color: #838798;
          border-radius: 4px;
          position: absolute;
          top: -4px;
          right: 10px;
        }

        .iconfont {
          font-size: 14px;
        }

        .text {
          &:before {
            margin-right: 10px;
            content: '';
            display: inline-block;
            width: 4px;
            height: 10px;
            background-color: #0080c1;
            border: 3px solid #99cce6;
            vertical-align: sub;
          }
        }

        .icon {
          cursor: pointer;
          font-size: 16px;
          text-align: center;
          width: 30px;
          transform: rotateZ(180deg);

          .iconfont {
            font-size: 20px;
          }
        }
      }

      .car-list-wrapper {
        padding-top: 10px;

        // 官网巡检
        .list-item p {
          height: 36px;
          text-align: center;
          line-height: 36px;
          box-sizing: border-box;
          margin: 1px 0.5px;
        }

        pColor(c1, c2, c3, c4 = #ffffff) {
          p {
            background-color: c1;
            color: c2;

            &:last-child {
              background-color: c3;
              color: c4;
            }
          }
        }

        .blue {
          pColor(#d0efff, #0091da, #0091da);
        }

        .red {
          pColor(#ffe2e3, #d4484b, #d4484b);
        }

        .yellow {
          pColor(#ffe0d1, #fb7d3d, #fb7d3d);
        }

        // 维修养护
        .title {
          color: #333;
          font-size: 14px;
          width: 74px;
        }

        .btn-item {
          padding: 0 5px;
          margin-bottom: 10px;
          font-size: 14px;
          text-align: center;
          height: 30px;
          line-height: 30px;
          color: #367bc7;

          p {
            cursor: default;
            letter-spacing: 0.1px;
            background-color: #d7ebf5;
            border-radius: 2px;
          }
        }
      }

      .event_pie {
        padding-top: 33px;
        height: 300px;
      }
    }
  }

  .inspectiongis_fixed.flexible {
    position: absolute;
    top: auto;
    bottom: 12px;
    left: $leftBarWidth + 10px;

    .control-show-btn {
      display: flex;
      align-items: center;
      width: 92px;
      height: 36px;
      line-height: 36px;
      background-color: #ffffff;
      border: solid 2px #838798;
      color: #2f3239;
    }
  }

  .control-show-btn {
    display: flex;
    align-items: center;
    display: inline-block;
    background: #000;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;

    i {
      padding-left: 10px;
      line-height: 40px;

      .iconfont {
        font-size: 15px;
      }
    }
  }
}

.Pipe_Query_container {
  position: relative;
}

.picker-date-overview {
  .el-radio-button--mini .el-radio-button__inner {
    padding: 7px 10px;
  }

  .el-date-editor.el-input {
    margin-top: 6px;
    width: 120px;
    margin-right: 8px;
  }

  .el-date-editor .el-input__icon {
    top: -6px;
  }

  .el-input--prefix .el-input__inner {
    padding-left: 10px;
  }
}

.InsOverView .inspectiongis_fixed {
  left: 60px;
}

.InsOverView .inspectiongis_fixed.flexible .control-show-btn {
  position: fixed;
  bottom: 10px;
}

.el-radio-button__orig-radio:checked+.el-radio-button__inner {
  color: #fff;
  background-color: #367bc7;
  border-color: #367bc7;
}

.InsOverView .inspectiongis_fixed .overview-card .car-list-wrapper .btn-item {
  padding: 0px 3px;
}

.picker-date-overview .el-date-editor.el-input {
  width: 137px;
}

.picker-date-overview .el-radio-button--mini .el-radio-button__inner {
  padding: 7px 12px;
}